[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sparseVCBART"]
	path = sparseVCBART
	url = https://github.com/ghoshstats/sparsevcbart
